@using TomeKeeper.Services
@using TomeKeeper.ViewModels

@inject ITextFormatterService _TextFormatterService

<div class="collapsible-details @(GetDetailsClass(_spellDetailsViewModel.isActive))">
    <div class="spell-details">
        <!-- Your full details content here -->
        <header>@_spellDetailsViewModel.Name</header>
        <label>@_spellDetailsViewModel.SchoolLevelClassesString</label>
        <br />
        <label><b>Casting Time: </b>@_spellDetailsViewModel.CastingTimeString</label>
        <label><b>Range: </b> @_spellDetailsViewModel.Range</label>
        <label><b>Components: </b> @_spellDetailsViewModel.ComponentsString</label>
        <label><b>Duration: </b> @_spellDetailsViewModel.DurationString</label>
        <br />
        @if (_spellDetailsViewModel.Desc.Any())
        {
            @foreach (var desc in _spellDetailsViewModel.Desc)
            {
                var formattedDesc = @_TextFormatterService.FormatBoldWords(desc);
                <p>@((MarkupString)formattedDesc)</p>
            }
        }
    </div>

</div>

@code {
    private SpellDetailsViewModel _spellDetailsViewModel { get; set; } = new();

    [Parameter]
    public SpellDetailsViewModel SpellDetailsViewModel
    {
        get { return _spellDetailsViewModel; }
        set
        {
            _spellDetailsViewModel = value;
        }
    }

    private string GetDetailsClass(bool isActive)
    {
        if (isActive)
        {
            return "is-open";
        }
        return string.Empty;
    }
}
