@page "/counter"
@using TomeKeeper.Models
@using TomeKeeper.ViewModels
@using TomeKeeper.Services
@inject IAPIService _ApiService
@inject ITextFormatterService _TextFormatterService
@inject PinnedSpellsService PinnedSpellsService;
@inject SpellDetailsCacheService SpellDetailsCacheService;

<PageTitle>Personal Tome</PageTitle>

<h1>Personal Tome</h1>

@if (_spellList.Any())
{
    <div class="button-container">
        @foreach (var spell in _spellList)
        {
            <button class="spell-button"
                    @onclick="@(() => OnGetSpellDetailsClick(spell.Index))">
                @spell.Name
            </button>
            @if (_isLoadingDetails && _selectedSpellIndex == spell.Index)
            {
                <p>Scrying @spell.Name details...</p>
            }
            else if (_selectedSpellIndex == spell.Index)
            {
                <div class="spell-details">
                    <header>@_spellDetailsViewModel.Name</header>
                    <label>@_spellDetailsViewModel.SchoolLevelClassesString</label>
                    <br />
                    <label><b>Casting Time: </b>@_spellDetailsViewModel.CastingTimeString</label>
                    <label><b>Range: </b> @_spellDetailsViewModel.Range</label>
                    <label><b>Components: </b> @_spellDetailsViewModel.ComponentsString</label>
                    <label><b>Duration: </b> @_spellDetailsViewModel.DurationString</label>
                    <br />
                    @if (_spellDetailsViewModel.Desc.Any())
                    {
                        @foreach (var desc in _spellDetailsViewModel.Desc)
                        {
                            var formattedDesc = @_TextFormatterService.FormatBoldWords(desc);
                            <p>@((MarkupString)formattedDesc)</p>
                        }
                    }
                </div>
            }
        }

    </div>
}

@code {
    private IList<SpellListItem> _spellList = PinnedSpellsService.SavedSpellListItems;
    private string _selectedSpellIndex { get; set; } = string.Empty;
    private SpellDetails _selectedSpellDetails { get; set; } = new();
    private SpellDetailsViewModel _spellDetailsViewModel { get; set; } = new();
    private bool _isLoadingDetails { get; set; } = false;

    private async Task OnGetSpellDetailsClick(string spellIndex)
    {
        if (_selectedSpellIndex == spellIndex)
        {
            _selectedSpellIndex = string.Empty;
            _selectedSpellDetails = new();
        }
        else
        {
            try
            {
                _isLoadingDetails = true;
                await GetSpellDetailsViewModelFromIndex(spellIndex);
            }
            finally
            {
                _isLoadingDetails = false;
            }

        }
    }

    private async Task GetSpellDetailsViewModelFromIndex(string spellIndex)
    {
        if (SpellDetailsCacheService.CachedSpells.Any(x => x.Index == spellIndex))
        {
            _spellDetailsViewModel = SpellDetailsCacheService.CachedSpells.First(x => x.Index == spellIndex);
            _selectedSpellIndex = spellIndex;
            return;
        }

        _selectedSpellIndex = spellIndex;
        var spellDetails = await _ApiService.GetSpellDetails(spellIndex);
        _spellDetailsViewModel = new SpellDetailsViewModel(spellDetails);
        if (!SpellDetailsCacheService.CachedSpells.Contains(_spellDetailsViewModel))
        {
            SpellDetailsCacheService.CachedSpells.Add(_spellDetailsViewModel);
        }
    }
}
