@page "/"
@using TomeKeeper.Models
@using TomeKeeper.ViewModels
@using TomeKeeper.Services
@rendermode InteractiveWebAssembly
@inject IAPIService _ApiService
@inject ITextFormatterService _TextFormatterService
@inject ISpellListItemsCacheService SpellListItemsCacheService;
@inject DragDropService DragDropService;
@inject SpellDetailsCacheService SpellDetailsCacheService;
@inject SavedSpellsService SavedSpellsService;

<PageTitle>All Spells</PageTitle>

<div class="page-banner">
    <h1>The Tome of all Spells</h1>
    <h2>Drag and Drop any Spell onto "My Spellbook" to add it to your personal tome!</h2>
</div>

<div class="button-container">
    <button class="btn-base btn-primary" @onclick="OnRevealSpellsClick">
        @if (SpellListItemsCacheService.CachedSpellList.Any())
        {
            <text>Refresh Spell List</text>
        }
        else
        {
            <text>Reveal Spells</text>
        }
    </button>
</div>
<p />

@if (SpellListItemsCacheService.CachedSpellList.Any())
{
    _spellList = SpellListItemsCacheService.CachedSpellList;
}

@if (_spellList.Any())
{
    <div class="button-container">
        @foreach (var spell in _spellList)
        {
            <DraggableSpellButton SpellIndex="@spell.Index"
                                  SpellName="@spell.Name"
                                  SelectedSpellIndex="@_selectedSpellIndex"
                                  OnSpellDetailsSelected="@HandleSelectedSpellDetails"
                                  OnSpellSelected="@HandleSpellSelected" />

            <!-- The wrapper now always contains the content -->
            <div class="collapsible-details @(GetDetailsClass(spell.Index))">
                @if (_isLoadingDetails && _selectedSpellIndex == spell.Index)
                {
                    <!-- Loading text remains here temporarily while loading -->
                    <p class="spell-details">Scrying @spell.Name details...</p>
                }
                else
                {
                    <div class="spell-details">
                        <!-- Your full details content here -->
                        <header>@_spellDetailsViewModel.Name</header>
                        <label>@_spellDetailsViewModel.SchoolLevelClassesString</label>
                        <br />
                        <label><b>Casting Time: </b>@_spellDetailsViewModel.CastingTimeString</label>
                        <label><b>Range: </b> @_spellDetailsViewModel.Range</label>
                        <label><b>Components: </b> @_spellDetailsViewModel.ComponentsString</label>
                        <label><b>Duration: </b> @_spellDetailsViewModel.DurationString</label>
                        <br />
                        @if (_spellDetailsViewModel.Desc.Any())
                        {
                            @foreach (var desc in _spellDetailsViewModel.Desc)
                            {
                                var formattedDesc = @_TextFormatterService.FormatBoldWords(desc);
                                <p>@((MarkupString)formattedDesc)</p>
                            }
                        }
                    </div>
                }
            </div>
        }
    </div>
}
else
{
    <p>Click "Reveal Spells" to divine the list of spells.</p>
}

@code {
    private IList<SpellListItem> _spellList = new List<SpellListItem>();
    private string _selectedSpellIndex { get; set; } = string.Empty;
    private SpellDetails _selectedSpellDetails { get; set; } = new();
    private SpellDetailsViewModel _spellDetailsViewModel { get; set; } = new();
    private bool _isLoadingDetails { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (!_spellList.Any())
        {
            await RefreshSpellList();

        }

        await SavedSpellsService.InitializeSavedSpellsAsync();
    }

    #region Spell Loading
    //TODO: move to viewmodel
    private async Task OnRevealSpellsClick()
    {
        await RefreshSpellList();
        // Blazor automatically re-renders the component here, updating the UI
    }

    //TODO: move to viewmodel
    private async Task RefreshSpellList()
    {
        var spellList = await _ApiService.GetSpellsList();
        _spellList = spellList;
        SpellListItemsCacheService.CachedSpellList = spellList;
    }
    #endregion

    public void HandleSpellSelected(string spellIndex)
    {
        _selectedSpellIndex = spellIndex;
    }

    public void HandleSelectedSpellDetails(SpellDetailsViewModel spellDetailsViewModel)
    {
        _spellDetailsViewModel = spellDetailsViewModel;
    }

    private string GetDetailsClass(string spellIndex)
    {
        // If this is the selected spell index, apply the 'is-open' class
        if (_selectedSpellIndex == spellIndex && (_isLoadingDetails || _spellDetailsViewModel != null))
        {
            return "is-open";
        }
        return string.Empty;
    }
}